<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD de Usuarios</title>
  <!-- Agrega la referencia a Tailwind CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100 dark:bg-black dark:text-white">
  <div class="min-h-screen flex flex-col items-center justify-center">
    <!-- Muestra mensajes de error si existen en la parte superior -->
    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <div class="bg-red-100 text-red-500 border border-red-500 rounded p-4 mb-4">
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    
    <div class="container mx-auto">
      <div class="flex flex-wrap justify-center items-center p-4">
        <!-- Formulario a la izquierda -->
        <div class="w-full md:w-2/5 p-4">
          <h1 class="text-2xl font-bold mb-4">Usuarios</h1>
          <!-- Muestra mensajes de error si existen -->
          <form action="/users" method="POST">
            <div class="mb-4">
              <label for="name" class="block">Nombre:</label>
              <input type="text" class="border rounded py-2 px-3 w-full" id="name" name="name" required>
            </div>
            <div class="mb-4">
              <label for="email" class="block">Email:</label>
              <input type="email" class="border rounded py-2 px-3 w-full" id="email" name="email" required>
            </div>
            <div class="mb-4">
              <label for="password" class="block">Contraseña:</label>
              <input type="password" class="border rounded py-2 px-3 w-full" id="password" name="password" required>
            </div>
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Crear Usuario</button>
          </form>
        </div>
        
        <!-- Lista de usuarios a la derecha -->
        <div class="w-full md:w-3/5 p-4">
          <h2 class="text-xl font-bold">Lista de Usuarios</h2>
          <ul class="list-disc ml-6">
            <% users.forEach((user) => { %>
              <li>
                <%= user.name %> (<%= user.email %>)
                <a href="/users/edit/<%= user._id %>" class="text-blue-500 ml-2">Editar</a>
                <a href="/users/delete/<%= user._id %>" class="text-red-500 ml-2">Eliminar</a>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Agrega la referencia a Tailwind CSS al final de la página -->
  <script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>
</body>
</html>
